
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pet Adoption{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>
<body>

<header class="header">
    <div class="header-container">
        <div class="logo">
            <a href="#">
                <img src="{% static 'logo.png' %}" alt="Pet Adoption Logo">
            </a>
        </div>
        <nav class="navbar">
            <ul class="nav-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/pets/all/">Browse Pets</a></li>
                {% if request.user.is_authenticated %}

                <li><a href="/myadoption">My Adoptions</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="user-menu">
            {% if user.is_authenticated %}
                <div class="flex justify-content-center gap-3 ">
                    <a href="/profile/self/" class="btn" type="submit">Profile</a>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button class="btn" type="submit">Logout</button>
                    </form>
                </div>
            {% else %}
            <a href="/login" class="btn">Login</a>
            <a href="/register" class="btn">Register</a>
            {% endif %}
        </div>
    </div>
</header>

{% block content %}
{% endblock %}

<footer class="footer">
    <div class="sitemap">
        <a href="#">Home</a>
        <a href="#">Browse Pets</a>
        <a href="#">About Us</a>
        <a href="#">Contact</a>
    </div>
    <div class="copyright">
        <p>&copy; 2024 Your Pet Adoption Website. All rights reserved.</p>
    </div>
</footer>

</body>
</html>
